/* Add Fonts */

@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/WorkSans-Light.woff2');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/WorkSans-Regular.woff2');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/WorkSans-Medium.woff2');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/WorkSans-SemiBold.woff2');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/WorkSans-Bold.woff2');
    font-style: normal;
    font-weight: 700;
}